[submodule "CanEngine/vendors/glm"]
	path = CanEngine/vendors/glm
	url = https://github.com/EmreCan-Haciosmanoglu/glm
[submodule "CanEngine/vendors/entt"]
	path = CanEngine/vendors/entt
	url = https://github.com/EmreCan-Haciosmanoglu/entt
[submodule "CanEngine/vendors/glfw"]
	path = CanEngine/vendors/glfw
	url = https://github.com/EmreCan-Haciosmanoglu/glfw
[submodule "ImGui"]
	path = ImGui
	url = https://github.com/EmreCan-Haciosmanoglu/imgui
[submodule "Stb"]
	path = Stb
	url = https://github.com/EmreCan-Haciosmanoglu/stb
